<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>参考書</title>

    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="title">
                    <h1>参考書選びから勉強スケジュールまで！</h1>
                </div>
            </div>
            <!-- #header -->
            <div id="main">
                <div id="answer">
                    <h2>
                        あなたは
                        <%= @year %>年生の<%= @types %>で、志望校は<%= @universitys %>
                    現在の偏差値は<%= @deviations %>で、
                    1日<%= @times %>勉強しているのですね！
                    そんな<%= @layouts %>で
                      <%= @excercises %>なあなたに
                    このスケジュールはいかがでしょうか？
                    </h>
                </div>
                <div id="schedule">
                    <div class="book" id="book1">
                        <p><%= @message1 %></p>
                        <div class="level">
                            <p>網羅系</p>
                        </div>
                        <p><%= @book[0][:name] %></br>
                        <%= @book[0][:publisher] %></br>
                        <%= @book[0][:price] %>円</p>
                        <div class="book_image"><%= image_tag "image#{@book[0][:jpgno]}.jpg", :width => '120', :height => '170' %></div>
                    </div>
                    <div class="arrowbox">
                        <div class="arrow sample"></div>
                    </div>
                    <div class="book" id="book2">
                        <p><%= @message2 %></p>
                        <div class="level">
                            <p>中級</p>
                        </div>
                        <p><%= @book[1][:name] %></br>
                        <%= @book[1][:publisher] %></br>
                        <%= @book[1][:price] %>円</p>
                        <div class="book_image"><%= image_tag "image#{@book[1][:jpgno]}.jpg", :width => '120', :height => '170' %></div>
                    </div>
                    <div class="arrowbox">
                        <div class="arrow sample"></div>
                    </div>
                    <div class="book" id="book3">
                        <p><%= @message3 %></p>
                        <div class="level">
                            <p>上級</p>
                        </div>
                        <p><%= @book[2][:name] %></br>
                        <%= @book[2][:publisher] %></br>
                        <%= @book[2][:price] %>円</p>
                        <div class="book_image"><%= image_tag "image#{@book[2][:jpgno]}.jpg", :width => '120', :height => '170' %></div>
                    </div>
                    <div class="arrowbox">
                        <div class="arrow sample"></div>
                    </div>
                    <div class="book" id="book4">
                        <p><%= @message4 %></p>
                        <div class="level">
                            <p>過去問</p>
                        </div>
                        <p><%= @book[3][:name] %></br>
                        <%= @book[3][:publisher] %></br>
                        <%= @book[3][:price] %>円</p>
                        <div class="book_image"><%= image_tag "image#{@book[3][:jpgno]}.jpg", :width => '120', :height => '170' %></div>
                    </div>
                </div>
            </div>
            <div id="footer">Copylight</div>
        </div>
        <!-- container -->
    </body>
</html>
