<div class="show">


<h1>
  こんにちは、
  <%= @user.name %>
  さん
</h1>
<h3>
  名前
</h3>
<content>
  <%= @user.name %>
</content>
<h3>
  メールアドレス
</h3>
<content>
  <%= @user.email %>
</content>
<h3>
  学年
</h3>
<content>
  <%= @user.year %>
</content>
<h3>
  志望大学
</h3>
<content>
  <%= @user.university %>
</content>
<h3>
  現在の偏差値
</h3>
<content>
  <%= @user.deviation %>
</content>
<h3>
  1日の学習時間
</h3>
<content>
  <%= @user.time %>
</content>
<h3>
  演習問題の量
</h3>
<content>
  <%= @user.exercise %>
</content>
<br>

<div class="search">
<%= button_to '参考書を調べる', root_path, method: :get, class: "btn btn-primary" %>
</div>

</div>
